# Project 1: Data Visualisation 

#Reference: Used ChatGPT to help reword & refine the markdowns and debug calculation of the mean, median, mode using standard python

#Step 1: Select data set from Kaagle
#Step 2: Upload the dataset into a directory to inspect the data and understand its structure

Selected dataset: Students Performance | Clean Dataset

In [3]:
import plotly.io as pio
pio.renderers.default = "vscode+jupyterlab+notebook_connected"

In [4]:
import pandas as pd

data = pd.read_csv("StudentPerformanceFactors 2.csv")
data.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

#Step 3: Select a Numeric Column
After examining the dataset, the column math_score is selected for analysis. This column will be used to compute the mean, median, and mode, providing insights into the central tendency of student scores

#Step 4: Calculating Mean, Median, and Mode using pandas

In [7]:
mean_pandas = data['Sleep_Hours'].mean()
median_pandas = data['Sleep_Hours'].median()
mode_pandas = data['Sleep_Hours'].mode()[0]

print("Mean (Pandas):", mean_pandas)
print("Median (Pandas):", median_pandas)
print("Mode (Pandas):", mode_pandas)

Mean (Pandas): 7.029060087785682
Median (Pandas): 7.0
Mode (Pandas): 7

#Step 5: Calculating Mean, Median, and Mode with Standard Python
Also, round up the 3 values upto 2 decimal points

#Definitions of these terms:
Mean: Average performance score across students.
Median: Middle score, useful for skewed data.
Mode: Most frequently occurring score, highlighting common performance trends.

In [9]:
#Convert the 'Sleep_Hours' column to a list
Hours = data['Sleep_Hours'].tolist()

#Calculate Mean
mean_python = sum(Hours) / len(Hours)
mean_python = round(mean_python, 2)

#Calculate Median
sorted_Hours = sorted(Hours)
n = len(sorted_Hours)
if n % 2 == 1:
    median_python = sorted_Hours[n // 2]
else:
    median_python = (sorted_Hours[n // 2 - 1] + sorted_Hours[n // 2]) / 2
median_python = round(median_python, 2)

#Calculate Mode
frequency = {}
for Hours in Hours:
    frequency[Hours] = frequency.get(Hours, 0) + 1
mode_python = max(frequency, key=frequency.get)

print("Mean (Standard Python):", mean_python)
print("Median (Standard Python):", median_python)
print("Mode (Standard Python):", mode_python)

Mean (Standard Python): 7.03
Median (Standard Python): 7
Mode (Standard Python): 7

#Step 6: Data Visualization (Gender vs. Exam Scores)
A simple text-based bar chart will be created to represent the distribution of values in the Sleep_Hours column. This visualization uses only the Python standard library, as specified in the project guidelines. The chart is dynamically generated, ensuring it adjusts automatically if the dataset is modified

In [11]:
# Group data by gender and count the number of exam scores
gender_counts = {}
for _, row in data.iterrows():
    gender = row['Gender']
    score = row['Exam_Score']
    if not pd.isnull(gender) and not pd.isnull(score):  # Skip rows with missing Gender or Exam_Score
        gender_counts[gender] = gender_counts.get(gender, 0) + 1

# Find the maximum count for normalization
max_count = max(gender_counts.values())

# Generate a text-based bar chart
print("Gender vs Exam Score (Count):")
print("-" * 40)
for gender, count in gender_counts.items():
    bar_length = int((count / max_count) * 30)  
    print(f"{gender:<10} | {'*' * bar_length} ({count})")

Gender vs Exam Score (Count):
----------------------------------------
Male       | ****************************** (3814)
Female     | ********************* (2793)